{% extends 'layouts/main.html' %}

{% block title %}
    {{ super() }}   
     Home
{% endblock %}

{% block content %}
<h1>{{ gretting }} <em>{{userinfo.name}}</em></h1>

<div class="panel panel-warning">
    <!-- Default panel contents -->
    <div class="panel-heading">Ingresar</div>
        <div class="panel-body">            
            <a href="{{ url_for('login') }}">Log In</a>
{% if log_in %}
<a href="{{ url_for('logout') }}">Logout</a>
{% endif%}
        </div>
    </div>
</div>
{% endblock %}

    