{% extends 'layouts/main.html' %}
{% block title %}
	{{ super() }}
	Projects
{% endblock %}


{% block content %}

<ul class="items">
    <h1>Projects</h1> 		
	<a href="projects/create" class="btn btn-primary" role="button">New Project</a>
	<hr/>
    {% for project in projects %}
	<li>
		<a href="/projects/{{ project.id }}">
			<i class="fas fa-clipboard-check"></i>
			<div class="item">
				<h5><em>{{project.name }}</em> | Word Count : {{ project.word_count }} | Rate : {{ project.rate }}</h5>
			</div>
		</a>			
	</li>
	<li>
		<button class="btn btn-primary delete-button" data-id="{{project.id}}">Delete</button>				
	</li> 
    {% endfor %}
</ul>
{% endblock %}


{% block scripts %}
	{{ super() }}

<script>
	const deleteBtns = document.querySelectorAll('.delete-button');
	for (let i = 0; i < deleteBtns.length; i++) {
		const btn = deleteBtns[i];
		btn.onclick = function(e) {
		const projectId = e.target.dataset['id'];
		fetch('/projects/' + projectId, {
			method: 'DELETE'
		}).then(() => {
			window.location.href = "/projects";
		});
	}
}
</script>

{% endblock %}