{% extends 'layouts/main.html' %}
{% block title %}
	{{ super() }}
	Projects
{% endblock %}
{% block content %}
  <div class="form-wrapper">
    <form class="form" method="POST" action="/projects/{{project.id}}">
      {{ form.hidden_tag() }}
      <div class="panel panel-warning">
        <!-- Default panel contents -->
        <div class="panel-heading">Edit Project <em>{{ project.name }}</em></div>
        <div class="panel-body">
          <div class="form-group">
            <label for="kind">Kind : </label>
            <label for="kind">{{project.kind}}</label>
          </div>
          <div class="form-group">
            <label for="deadline">Deadline</label>
            {{ form.deadline(class_ = 'form-control',  value=project.deadline, autofocus = true) }}
          </div>

          <div class="form-group">
            <label for="person_id">Person : </label> 
            <label for="person_id">{{ person.name }}</label> 
          </div>
          <div class="form-group">
            <label for="service_id">Service : {{ service.name }} </label> 
          </div>
          <div class="form-group">
            Rate for word <label id="ratew" for="ratew" value="" >{{person.ratew}}</label> USD
          </div>
          <div class="form-group">
            Rate for hour <label id="rateh" for="rateh" value="">{{person.rateh}}</label>  USD
          </div>
          
          <div class="form-group">
            <label for="word_count">word_count</label>
            {{ form.word_count(class_ = 'form-control',  value=project.word_count, autofocus = true) }}
          </div>
          <div class="form-group">
            <label for="hour_count">hour_count</label>
            {{ form.hour_count(class_ = 'form-control',  value=project.hour_count, autofocus = true) }}
          </div>
          <div class="form-group">
            <label for="rate">rate</label>
            {{ form.rate(class_ = 'form-control',  value=project.rate, autofocus = true) }}
          </div>

        </div>
        <input type="submit" value="Edit Project" class="btn btn-primary btn-lg btn-block">
      </div>
    </form>

<!-- Initial panel contents -->
    <div class="panel panel-warning">
      <!-- Default panel contents -->
      <div class="panel-heading">Calculate</div>
      <div class="panel-body">
        <label> Word Count: </label> <label id="result-wc"> </label> </br>
        <label> Hour Count: </label> <label id="result-hc"> </label> </br>
        <label> Total USD: </label> <label id="result-rate"> </label>
        <!-- Table -->
        <table class="table">
          <tr>
            <td>Type</td>
            <td>WC</td>
            <td></td>
            <td>Percentage</td>
            <td></td>
            <td>WC Ponderate</td>
          </tr>
          <tr>   
            <td>Perfect Match</td>
            <td><input class="wc" size="3px"></div></td>
            <td>*</td>
            <td><input class="percentaje" size="3px"></div></td>
            <td>%</td>
            <td> = <label class="label-subtotal" value=""></label></td>
          </tr>
          <tr>   
            <td>Repetition</td>
            <td><input class="wc" size="3px"></div></td>
            <td>*</td>
            <td><input class="percentaje" size="3px"></div></td>
            <td>%</td>
            <td> = <label class="label-subtotal" value=""></label></td>
          </tr>
          <tr>   
            <td>Context Match</td>
            <td><input class="wc" size="3px"></div></td>
            <td>*</td>
            <td><input class="percentaje" size="3px"></div></td>
            <td>%</td>
            <td> = <label class="label-subtotal" value=""></label></td>
          </tr>
          <tr>
            <td>100%</td>
            <td><input class="wc" size="3px"></div></td>
            <td>*</td>
            <td><input class="percentaje" size="3px"></div></td>
            <td>%</td>
            <td> = <label class="label-subtotal" value=""></label></td>
          </tr>
          <tr>
            <td>95%-99%</td>
            <td><input class="wc" size="3px"></div></td>
            <td>*</td>
            <td><input class="percentaje" size="3px"></div></td>
            <td>%</td>
            <td> = <label class="label-subtotal" value=""></label></td>
          </tr>
          <tr>
            <td>85%-94%</td>
            <td><input class="wc" size="3px"></div></td>
            <td>*</td>
            <td><input class="percentaje" size="3px"></div></td>
            <td>%</td>
            <td> = <label class="label-subtotal" value=""></label></td>
          </tr>
          <tr>
            <td>75%-84%</td>
            <td><input class="wc" size="3px"></div></td>
            <td>*</td>
            <td><input class="percentaje" size="3px"></div></td>
            <td>%</td>
            <td> = <label class="label-subtotal" value=""></label></td>
          </tr>
          <tr>
            <td>50%-74%</td>
            <td><input class="wc" size="3px"></div></td>
            <td>*</td>
            <td><input class="percentaje" size="3px"></div></td>
            <td>%</td>
            <td> = <label class="label-subtotal" value=""></label></td>
          </tr>
          <tr>
            <td>No Match</td>
            <td><input class="wc" size="3px"></div></td>
            <td>*</td>
            <td><input class="percentaje" size="3px"></div></td>
            <td>%</td>
            <td> = <label class="label-subtotal" value=""></label></td>
          </tr>
        </table>
        <p>Horas: <input id="hours" size="3px"></div></p>
        <button id="calculate" class="btn btn-primary btn-lg btn-block" > Calculate </button>
      </div>
    </div>
    <!-- End panel contents -->
  </div>
{% endblock %}

{%block body%}

{{ super() }}
<body onload="init();">

  
  {% block scripts %}
  {{ super() }}
  
  <script>

function init(){
  var listaOperadores1 = document.querySelectorAll('.wc');
  var listaOperadores2 = document.querySelectorAll('.percentaje');
  var resultado = document.querySelectorAll('.label-subtotal');
  var wordCount = document.getElementById("result-wc");
  var hourCount = document.getElementById("result-hc");
  var rate = document.getElementById("result-rate");
  var wordRate = document.getElementById("ratew").innerHTML;
  var hourRate = document.getElementById("rateh").innerHTML;
  var hours = document.getElementById("hours");

  calculate.onclick = function(e){
    var wc=0;
    var hc=0;
    var total=0;

    for (let i = 0; i < listaOperadores1.length; i++){
      var res = parseFloat(listaOperadores1[i].value) * parseFloat(listaOperadores2[i].value);
      wc = parseInt(wc + res);
      resultado[i].textContent = res.toFixed(2);
    }

    hc = parseFloat(hours.value);
    wordCount.textContent = wc;
    hourCount.textContent = hc.toFixed(2);

    total = (wc * parseFloat(wordRate)) + (parseFloat(hourRate) * hc);
 
    rate.textContent = total.toFixed(2);

  }

}


    
    // function init(){
    //   var operador1 = document.getElementById("wc");
    //   var operador2 = document.getElementById("percentaje");
    //   var resultado = document.getElementById("label-subtotal");
    
    //   calculate.onclick = function(e){
    //     res = parseFloat(operador1.value)* parseFloat(operador2.value);
    //     resultado.textContent = res;
        
    //   }
      
    // }
    
    
  </script>

{% endblock %}
</body>
{% endblock %}